.vscode/**
.vscode-test/**
out/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
testfiles/**
src/**
node_modules/**
!node_modules/tree-sitter/**
!node_modules/tree-sitter-java/**
!node_modules/node-gyp-build/**
!node_modules/@typescript-eslint/**
!node_modules/typescript/**